<%- include("../partials/header", {title: 'Edit'}) %>



<h1>Edit This Review</h1>
<form action="/reviews/<%=review._id%>?_method=PUT" method="POST">
<div class="comments">
<p>
TITLE: <input type="text" name="title" value="<%=review.title%>"><br>
REVIEW: <input type="text" name="review" value="<%=review.review%>"><br>
RATING: 
<select name="rating">
<option value = 'This popcorn is stale...'> This popcorn is stale...</option>
<option value = 'This popcorn needs butter'> This popcorn needs butter </option>
<option value = 'This popcorn was okay.'> This popcorn was okay. </option>
<option value = 'This popcorn was great!'> This popcorn was great! </option>
<option value = 'This is the best !@#$@# Popcorn!'> This is the best !@#$@# Popcorn!</option>
</select><br><br>
<button type="submit">Enter New Review</button>
  
</p>
</form>








<%- include("../partials/footer") %>
