<%- include("../partials/header") %>

<h1>All Dem Reviews</h1>
<main>



<% for(let i = 0; i < users.length; i++){ %>
<%= users[i].username.toUpperCase() %>
    <% for(let j = 0; j < users[i].review.length; j++){ %>
        <p>Title: <%=users[i].review[j].title%></p>
        <p>review: <%=users[i].review[j].review%></p>
        <p>rating: <%=users[i].review[j].rating%></p>
    <%}%>
<%}%>


</main>


<%- include("../partials/footer") %>