<%- include('../partials/header', {title: 'Your Reviews'}) %>

<main class="show-ejs">

<h1>Your Reviews</h1>
<% for (let i = 0; i < reviews.length; i++ ) {%>
<form action="/reviews/<%= reviews[i]._id %>?_method=DELETE" method="POST">
<div class="comments">

  <p>Movie Title: <%=reviews[i].movieTitle%><br>
  Review Title: <%=reviews[i].title%><br>
  Review: <%=reviews[i].review%><br>
  <a href="/reviews/<%=reviews[i]._id%>/edit"> Edit This Review <%=reviews.reviews%></a><br>
  
  <button type="submit">Delete This Review</button></p>
  </form>

  <%}%>
</div>



















<%- include('../partials/footer') %>