<%- include('../partials/header') %>

<main class="show-ejs">

<h1>Your Reviews</h1>

<% for (let i = 0; i < reviews.length; i++ ) {%>
<h3><%=reviews[i].title%></h3>
<p><%=reviews[i].review%></p>
<form action="/reviews/<%= reviews[i]._id %>?_method=DELETE" method="POST">
<button type="submit">Delete This Review</button>
</form>
<a href="/reviews/<%=reviews[i]._id%>/edit"> Edit <%=reviews.reviews%></a>
<%}%>

</main>

<%- include('../partials/footer') %>