<%- include("../partials/header", {title: 'Movie'}) %>


<section class = "movie-show">
<div class="grid">
    <div class="grid__item panel-1">
        <div class="content">
            <img class= "style_prevu_kit" src = "https://image.tmdb.org/t/p/w200/<%= movie.poster_path %>"/>
           <div class="comments"> 
            <h4 class="p-review"><%=movie.overview%></h4>
            </div>
    </div>
        </div>
    <div class="grid__item panel-2">
        <div class="content">

<%allUsersWithReview.forEach(u => { %>
<% u.review.forEach(r => { %> 
<% if (r.movieId === movie.id) { %> 
    <p class = "comments">
        <strong>User:</strong> <%= u.username %><br>
        <strong>Review Title:</strong> <%= r.title %><br>
        <strong>Review:</strong> <%= r.review %><br>
        <strong>Rating:</strong> <%= r.rating %><br><br>
    </p>
    <% } %>
<% }) %>
<%})%>


<div id="polina">

<button onclick="myFunction()">New Review</button>
<div id="myDIV" style="display:none">

<form action="/reviews/<%=user.id%>/<%= movie.id %>/<%= movie.title %>" method="POST">
Username: <%=user.name.toUpperCase()%>  
<br>
TITLE: <input type="text" name="title"><br>
REVIEW: <input type="text" name="review"><br>
RATING:
<select name="rating">
<option value = 'This popcorn was stale...'> This popcorn is stale...</option>
<option value = 'his popcorn needed butter.'> This popcorn needed butter </option>
<option value = 'This popcorn was decent.'> This popcorn was decent. </option>
<option value = 'This popcorn was great!'> This popcorn was great! </option>
<option value = 'This is the best !@#$@# Popcorn!'> This is the best !@#$@# Popcorn!</option>
</select><br><br>
<button type="submit">Enter New Review</button>
</div>
</form>
</div>

<%- include("../partials/footer") %>