<%- include("../partials/movieshowpage") %>


<section class = "movie-show">

<div class="movie-review-page">
<h2><%=movie.title%></h2>
<img src = "https://image.tmdb.org/t/p/w200/<%= movie.poster_path %>"/>
<p class="p-review"><%=movie.overview%></p>
</div>

<div id="polina" class = "review-form">
     <main>

     <button onclick="myFunction()">New Review</button>
     <div id="myDIV" style="display:none">
     <form action="/reviews/<%=user.id%>/<%= movie.id %>/<%= movie.title %>" method="POST">
     Username: <%=user.name.toUpperCase()%>  
     <br>
     <p>TITLE:</p> <input type="text" name="title">
     <p>REVIEW:</p> <input type="text" name="review">
     <p>RATING:</p> 
     <select name="rating">
     <option value = 1> This popcorn is stale...</option>
     <option value = 2> This popcorn needs butter </option>
     <option value = 3> This popcorn was okay. </option>
     <option value = 4> This popcorn was great! </option>
     <option value = 5> This is the best !@#$@# Popcorn!</option>
     </select><br><br>
     <button type="submit">Enter New Review</button>
     </div>
     </form>
     </main>
     </div>

     </section>

     <section class = "reviews">
     <%allUsersWithReview.forEach(u => { %>
        <% u.review.forEach(r => { %> 
            <% if (r.movieId === movie.id) { %> 
            <div class="user-reviews">
                <p>User: <%= u.username %></p>
                <p>Review Title: <%= r.title %></p>
                <p>Review: <%= r.review %></p>
                <p>Rating: <%= r.rating %></p>
                </div>
            <% } %>
        <% }) %>
     <%})%>
     </section>

     <%- include("../partials/footer") %>