<%- include("../partials/header", {title: 'Movie'}) %>


<section class = "movie-show">
<div class="grid">
    <div class="grid__item panel-1">
        <div class="content">
            <img src = "https://image.tmdb.org/t/p/w200/<%= movie.poster_path %>"/>
           <div class="comments"> 
            <h4 class="p-review"><%=movie.overview%></h4>
            </div>
    </div>
        </div>
    <div class="grid__item panel-2">
        <div class="content">

        
<h2>USER REVIEWS</h2>


<%allUsersWithReview.forEach(u => { %>
<% u.review.forEach(r => { %> 
<% if (r.movieId === movie.id) { %> 
    <p class = "comments">
        User: <%= u.username %><br>
        Review Title: <%= r.title %><br>
        Review: <%= r.review %><br>
        Rating: <%= r.rating %><br><br>
    </p>
    <% } %>
<% }) %>
<%})%>


<div id="polina">

<button onclick="myFunction()">New Review</button>
<div id="myDIV" style="display:none">

<form action="/reviews/<%=user.id%>/<%= movie.id %>/<%= movie.title %>" method="POST">
Username: <%=user.name.toUpperCase()%>  
<br>
TITLE: <input type="text" name="title"><br>
REVIEW: <input type="text" name="review"><br>
RATING:
<select name="rating">
<option value = 1> This popcorn is stale...</option>
<option value = 2> This popcorn needs butter </option>
<option value = 3> This popcorn was okay. </option>
<option value = 4> This popcorn was great! </option>
<option value = 5> This is the best !@#$@# Popcorn!</option>
</select><br><br>
<button type="submit">Enter New Review</button>
</div>
</form>
</div>

<%- include("../partials/footer") %>