<%- include("../partials/header", {title: 'Movie Index'}) %>

<h1>REMOVE THIS</h1>

<main>


<% latestMovies.forEach(m => { %> 
    <p><%= m.title %></p>
    <a href='/movies/<%=m.id%>'><img src = "https://image.tmdb.org/t/p/w200/<%= m.poster_path %>"/></a>
<% }) %>

</main>



<%- include("../partials/footer") %>