<%- include("../partials/header") %>

<h1>Movies</h1>

<main>

<div>
<% for(let i = 0; i < users.length; i++){ %>
    Username: <a class="color" href="/users/<%=users[i]._id%>"><%= users[i].username %></a><br>
<%}%>
</div>

<% latestMovies.forEach(m => { %> 
    <p><%= m.title %></p>
    <a href='/movies/<%=m.id%>'><img src = "https://image.tmdb.org/t/p/w200/<%= m.poster_path %>"/></a>
<% }) %>

</main>



<%- include("../partials/footer") %>