<%- include("../partials/header") %>

<main class="show-ejs">

<h1>DELETE THIS</H1>

<h2 class="show-h1"><%=user.username.toUpperCase()%></h2>


<% for (let i = 0; i <user.review.length; i++){ %>
<p><%=user.review[i].title%></p>
<p><%=user.review[i].review%></p>
<a href="/reviews/edit">Edit Review</a>
<%}%>



<form action="/users/<%= user._id %>?_method=DELETE" method="POST">
<button type="submit">Delete Profile</button>
</form>
<a class="color" href="/users/<%=user._id%>/edit"> Edit <%=user.username%></a> |
<a class="color" href="/reviews">All Dem Reviews</a>

</main>

<%- include('../partials/footer') %>